<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>TODO App</h1>
        <form action="/add" method="POST">
            <input
                type="text"
                name="task"
                placeholder="Enter a task..."
                required
            >
            <button type="submit">Add Task</button>
        </form>
        
        <!-- Task List -->
        <div class="task-list">
        {{ range . }}
           <div class="task-card">
            <span class="task-id">#{{ .ID }}</span>
            <span class="task-title">{{ .Title }}</span>
           </div>
        {{ else }}
            <div class="empty-task">
                No tasks yet 🚀
            </div>
        {{ end }}
        </div>
        
        <div class="cards">
            <div class="card">
                <span>Language</span>
                <strong>Go 1.26</strong>
            </div>
            <div class="card">
                <span>Container</span>
                <strong>Docker</strong>
            </div>
            <div class="card">
                <span>Deploy</span>
                <strong>AWS EC2</strong>
            </div>
        </div>
    </div>
</body>
</html>
